@font-face {
  font-family: "Silkscreen";
  src: url("../font/silkscreen/slkscr.ttf") format("ttf"),
}

$image : url(../images/menu.png);



h1{
  display: none;
}

canvas{
  position: fixed;
  z-index: -1;
}

.menu{
  display: none;
  background-color: rgba(0,0,0,0.8);
  height: 100vh;
}



.button{
  display: block;
  background-image: $image;
  text-indent: -9999px;
  width: 652px;
  height: 112px;
  margin: 0 auto;
}

.play{
  background-position: 0px -212px;
  position: relative;
  top: 100px;
}

.play:hover{
  background-position: -707px -212px;
}

.controls{
  background-position: 0px -370px;
  position: relative;
  top: 125px;
}

.controls:hover{
  background-position: -707px -371px;
}

.achievement{
  background-position: 0px -537px;
  position: relative;
  top: 150px;
}

.achievement:hover{
  background-position: -707px -537px;
}

.menu h2{
  text-indent: -9999px;
  background-image: $image;
  background-position: -39px -11px;
  width: 825px;
  height: 98px;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.menuControls{
  display: none;
  background-color: rgba(0,0,0,0.8);
  height: 100vh;
}

.allControls{
  background-image: $image;
  background-position: -56px -1335px;
  width: 934px;
  height: 445px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.menuControls .play{
  background-position: 0px -212px;
  position: relative;
  top: 50px;
}

.menuControls .play:hover{
  background-position: -707px -212px;
}

.exit{
  display: block;
  text-indent: -9999px;
  background-image: $image;
  background-position: -845px -802px;
  width: 80px;
  height: 73px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.soundControls{
  display: block;
  text-indent: -9999px;
  background-image: $image;
  background-position: -845px -1005px;
  width: 83px;
  height: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.exit:hover{
  background-position: -846px -903px;
}

.background {
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 110%;

}

.character{
  display: block;
  padding: 5em 0;
  background-color: rgba(0,0,0,0.8);
  text-indent: -9999px;
}

.character__div{
  position: relative;
  margin: 0 auto;
  background-image: url(../images/characterSheet.svg);
  background-size: 100%;
  width: 800px;
  height: 917px;
}

.skills{
  display: block;
  padding: 5em 0;
  background-color: rgba(0,0,0,0.8);
  text-indent: -9999px;
}

.skills__div{
  position: relative;
  margin: 0 auto;
  background-image: url(../images/skillsSheet.svg);
  width: 800px;
  height: 917px;
}

.contact{
  display: block;
  padding: 5em 0;
  background-color: rgba(0,0,0,0.8);
  text-indent: -9999px;
}

.contact__div{
  position: relative;
  margin: 0 auto;
  background-image: url(../images/contactSheet.svg);
  background-size: 100%;
  width: 800px;
  height: 801px;
}

#sound{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}